
/* default */
body { margin: 20px 20px; font-family: arial, sans-serif, helvetica; font-size: 10pt; }

/* global classes */
.section { clear:both; }
.caption { font-size: 9pt; font-style: italic; margin-top:6px; }

/* headings */
h1 { font-size: 16pt; font-weight: bold; }
h2 { font-size: 14pt; font-weight: bold; color: #2030a0; border-bottom: 1px solid #c09060; }
h3 { font-size: 12pt; font-weight: bold; color: #2030a0; }

/* horizontal rules */
table { text-align:center; margin-left: auto; margin-right: auto; }
table.hr { width: 100%; margin: 0; padding: 0; font-size: 10pt; }
td.hr { width: 1px; padding: 0 10px; white-space: nowrap; font-style: italic; }
hr { height: 1px; width: 100%; line-height: 1px; background-color: #c09060; border: none; }

/* monospace no-format */
tt { font-family: monospace, courier; font-size: 10pt; background-color: #f0f0f0; padding-left: 2px; padding-right: 2px; font-weight: normal; font-style: normal; }
pre { font-family: monospace, courier; font-size: 10pt; background-color: #e0e0e0; border: 1px solid #a0a0a0; padding: 16px; font-weight: normal; font-style: normal; }

/* images */
img { max-width: 100%; max-height: 240px; display :block; height:auto !important; }

/* block quotes */
blockquote { margin-left: 16px; padding-left: 16px; border-left: 3px solid #e0e0e0; }
