@import url("http://fonts.googleapis.com/css?family=Fira+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Fira+Mono:400,700");

/* color and margins */
article.quickdoc {
    margin: 20px 40px;
    color: #333;
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.5em;
}

/* headings */
article.quickdoc h1 { font-size: 200%; font-weight: bold; }
article.quickdoc h2 { font-size: 180%; font-weight: bold; border-bottom: 1px solid #e0e0e0; }
article.quickdoc h3 { font-size: 160%; font-weight: bold; }
article.quickdoc h4 { font-size: 140%; font-weight: bold; }
article.quickdoc h5 { font-size: 120%; font-weight: bold; }
article.quickdoc h6 { font-size: 100%; font-weight: bold; }

/* monospace no-format */
article.quickdoc tt { font-family: "Fira Mono", "Courier New", monospace; background-color: #e8e8e8; padding-left: 2px; padding-right: 2px; font-weight: normal; }
article.quickdoc pre { font-family: "Fira Mono", "Courier New", monospace; background-color: #e0e0e0; border: 1px solid #a0a0a0; padding: 16px; font-weight: normal; line-height: 1.25em; overflow-x: auto; }

/* links */
article.quickdoc a { color: #268bd2; text-decoration: none; background-color: transparent; }
article.quickdoc a:active,a:hover { text-decoration: underline; outline: 0; }
article.quickdoc a:visited { color: #268BD2; }

/* images */
article.quickdoc img { clear:both; max-width: 100%; max-height: 240px; height: auto !important; }

/* block quotes */
article.quickdoc blockquote { margin-left: 16px; padding-left: 16px; border-left: 3px solid #e0e0e0; }

/* csv tables */
article.quickdoc table { border-spacing: 0; border: 1px solid #a0a0a0; }
article.quickdoc th { padding: 6px; background-color: #c0c0c0; font-weight: bold; }
article.quickdoc td { padding: 6px; }
article.quickdoc tr:nth-child(odd) { background-color: #f0f0f0; }

/* image and video captions */
article.quickdoc .caption { font-style: italic; font-size: smaller; }

article.quickdoc hr { background-color:#c0c0c0; }

/* larger than mobile */
@media (min-width: 400px) {}

/* larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* larger than tablet */
@media (min-width: 750px) {}

/* larger than desktop */
@media (min-width: 1000px) {}

/* larger than desktop HD */
@media (min-width: 1200px) {}
